BPTeenused/WebContent/services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Metro/2.2.1-1 (tags/2.2.1-1-7267; 2012-08-30T14:04:51+0000) JAXWS-RI/2.2.7 
	JAXWS/2.2 svn-revision#unknown. --><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Metro/2.2.1-1 (tags/2.2.1-1-7267; 2012-08-30T14:04:51+0000) JAXWS-RI/2.2.7 
	JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://raigo.localhost/" name="CourierServiceService"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://raigo.localhost/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://raigo.localhost/"
				schemaLocation="services.xsd" />
		</xsd:schema>
	</types>
	<message name="getCouriers">
		<part name="parameters" element="tns:getCouriers" />
	</message>
	<message name="getCouriersResponse">
		<part name="parameters" element="tns:getCouriersResponse" />
	</message>
	<message name="getTransportOffer">
		<part name="parameters" element="tns:getTransportOffer" />
	</message>
	<message name="getTransportOfferResponse">
		<part name="parameters" element="tns:getTransportOfferResponse" />
	</message>
	<message name="orderTransport">
		<part name="parameters" element="tns:orderTransport" />
	</message>
	<message name="orderTransportResponse">
		<part name="parameters" element="tns:orderTransportResponse" />
	</message>
	<portType name="ServicesPortType">
		<operation name="getCouriers">
			<input wsam:Action="http://raigo.localhost/services/getCouriersRequest"
				message="tns:getCouriers" />
			<output wsam:Action="http://raigo.localhost/services/getCouriersResponse"
				message="tns:getCouriersResponse" />
		</operation>
		<operation name="getTransportOffer">
			<input wsam:Action="http://raigo.localhost/services/getTransportOfferRequest"
				message="tns:getTransportOffer" />
			<output wsam:Action="http://raigo.localhost/services/getTransportOfferResponse"
				message="tns:getTransportOfferResponse" />
		</operation>
		<operation name="orderTransport">
			<input wsam:Action="http://raigo.localhost/services/orderTransportRequest"
				message="tns:orderTransport" />
			<output wsam:Action="http://raigo.localhost/services/orderTransportResponse"
				message="tns:orderTransportResponse" />
		</operation>
	</portType>
	<binding name="ServicesBinding" type="tns:ServicesPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="getCouriers">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getTransportOffer">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="orderTransport">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="Services">
		<port name="ServicesPort" binding="tns:ServicesBinding">
			<soap:address location="http://localhost:8080/services/ServicesPort" />
		</port>
	</service>
</definitions>